# Copier ce fichier en .env.local et remplir avec les vraies valeurs
# Valeurs disponibles dans : Firebase Console → Paramètres → Vos applications → Config SDK
# Projet : planning-yorgios-3bdb2

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=planning-yorgios-3bdb2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=planning-yorgios-3bdb2
VITE_FIREBASE_STORAGE_BUCKET=planning-yorgios-3bdb2.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
